// All the styling relevant to the dark theme is contained within this element.
.dark {
	#mainContainer {
		background-image: url("../img/Dark_Background.jpg");
		#character{
			position:relative;
			top:960px;
			left:1800px;
			height: 180px;
			background-repeat: no-repeat;
			background-image: url("../img/crow.gif");
		}
	}
};
