// This stylesheet should not contain anything that is specific to a theme, it's purpose is to contain all the relevant style rules that are consistent across the website.

body {

	height: 100%;
	overflow: hidden;

	.pullTopRight {
		position: absolute;
		top: 10vh;
		right: 0;
		margin-right: 15px;
		margin-left: 15px;
		z-index: 100;
	}

	.btn-large {
		margin-top: 10px;
		display: block;
	}

	#mainContainer {
	
		width: 100vw;
		height: 100vh;
		position: absolute;
		overflow: hidden;
		border: 3px solid black;

		#overlay {
			width: 100vw;
        	height: 100vh;
        	position: absolute;
        	background-color: #222222;
        	opacity: 0;
		}
	}

	#hand {
		z-index: 10;
		fill: #FFFFFF;
		fill-opacity: 1;
		stroke: #000;
		stroke-width: 3;
		left: -100px;
		top: 75vh;
		position: absolute;
	}

	.iframeDefault {
		background-color: white;
		position: absolute;
		width: 80%;
		height: 80%;
		top: 10vh;
		left: 10vw;
	}

	#pageHome {
		top: 10vh;
		z-index: 2;
		.iframeDefault;
	}

	#pageFeatures {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}

	#pageGallery {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}

	#pageAbout {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}
}