// This stylesheet should not contain anything that is specific to a theme, it's purpose is to contain all the relevant style rules that are consistent across the website.
html {
    height: 100%;
    overflow: hidden;
}

h1 {
	font-size: 10px;
}

body {
	height: 100%;
	font-family: 'Josefin Slab', serif;
	background-repeat: repeat;
	background-size: 100% 100%;

	#paintbrush{
		position: relative;
		top:60%;
		left:88%;
		height: 300px;
		background-repeat: no-repeat;
		background-image: url("../img/paintbrush.png");
		z-index: 100;
	}

	#palette{
		position: relative;
		top:0%;
		left:0%;
		height: 300px;
		background-repeat: no-repeat;
		background-image: url("../img/palette2.png");
		z-index: 100;
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.kickstarter {
		position: absolute;
		bottom: 20%;
		right: 10%;
		a {
			position: relative;
		}
	}
	
	.video {
		margin-top: 0;
		width: 100%;
	}

	.pullTopRight {
		position: absolute;
		top: 10vh;
		right: 0;
		margin-right: 15px;
		margin-left: 15px;
		z-index: 100;
		a {
			text-decoration: none;
		}
	}

	.featureBanner {
		/* Set a specific height */
		min-height: 336px; 
	
		background-position: center;
		background-repeat: no-repeat;
	
		/* The image used */
		background-image: url("../img/pencilfeature.gif");
	}

	.lolaBanner {
		height: 100%;
		background-size: cover;
		background-image: url("../img/lola.png");
	}

	.banner {
		/* Set a specific height */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		.swing {
			position: absolute;
			right: 30px;
			height: 50%;
		}
		.bodyText {
			padding: 10px;
			opacity: 0.6;
			margin-top: 10%;
			box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
			text-align: center;
		}
	}

	.btn-large {
		margin-top: 10px;
		display: block;
	}

	.video {
		margin: 5% 2.5%;
		height: 50%;
	}
	
	.gallery {
		margin-top: 5%;
		height: 90%;

		.example {
			justify-content: space-around;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
		
			height: 27%;
			width: 100%;
			margin: 5% 15px;
			.box {
				position: relative;
				height: 100%;
				width: 100%;
				box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
				transform-style: preserve-3d;

				.innerImage {
					transform: translateZ(20px);
					display: inline;
					img {
						box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
						height: 90%;
						max-width: 95%;
						margin: 2.5%;
					}
				}
			}
		} 
	}

	#mainContainer {
	
		width: 100vw;
		height: 100vh;
		position: absolute;
		overflow: hidden;
		border: 3px solid black;

		#overlay {
			width: 100vw;
        	height: 100vh;
        	position: absolute;
        	background-color: #222222;
        	opacity: 0;
		}
	}

	#hand {
		z-index: 10;
		fill: #FFFFFF;
		fill-opacity: 1;
		stroke: #000;
		stroke-width: 3;
		left: -100px;
		top: 75vh;
		position: absolute;
	}

	.bodyText {
		margin-right: 20%;
		margin-left: 20%;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 20px;
	}

	.fa {
		padding: 10px;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		color: white;
	}

	.fa:hover {
		opacity: 0.7;
	}

	.fa-facebook {
		background: #3B5998;
	}

	.fa-twitter {
		background: #55ACEE;
	}

	.fa-envelope {
		background: #dd4b39;
	}

	.fa-instagram {
		background: #125688;
	}

	.iframeDefault {
		background-color: white;
		position: absolute;
		width: 80%;
		height: 80%;
		top: 10vh;
		left: 10vw;
		-moz-box-shadow: 1px 1px 7px grey;
		-webkit-box-shadow: 1px 1px 7px grey;
		box-shadow: 1px 1px 7px grey;
	}

	#pageHome {
		top: 10vh;
		z-index: 2;
		.iframeDefault;
	}

	#pageFeatures {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}

	#pageGallery {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}

	#pageAbout {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}

	#pageTeam {
		top: 10vh;
		z-index: 0;
		.iframeDefault;
	}
}
